@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* NOTE: set your target theme name (ex: skeleton, wintry, modern, etc) */

:root [data-theme='skeleton'] {
	--theme-font-family-base: 'Roboto', sans-serif;
	--theme-font-family-heading: 'Roboto', sans-serif;
	/* ... */
}
